:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background: #fafafa;
}

.card {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full-width {
  width: 100%;
}
